img{
    width: 20%;
    margin-left: 35%;
    margin-top: 1%;
}
H1{
    margin-top: 1%;
    color: red;
    margin-left: -3%;
}
body{
    background-color: white;
}
button{
    margin-left: 35%;
    padding: 8px 25px 8px 25px ;
    border-radius: 10px;
    font-size: large;
}
button:hover{
    background-image: linear-gradient(90deg,rgb(245, 179, 56),  rgb(56, 56, 218),rgb(54, 219, 54));
} 
#num{
    margin-left: 55%;
    margin-top: -10%;
}